body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    position: relative;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/stock1.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.card {
    margin-top: 10px;
    background-color: #353a3f;
    color: white;
}

/* Tola resources CSS */

input {
    width: 130px;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input:focus {
    width: 100%;
}